
@page "/order"
@rendermode InteractiveServer



<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<header>
    <div class="logo-search">
        <div class="logo">ФудМод</div>
        <input type="text" placeholder="Искать в ФудМоде">
        <button>Войти</button>
        <button><a href="http://localhost:5258/basket">Kорзина</a></button>
        <button><a href="http://localhost:5258/">Mеню</a></button>
        <button><a href="http://localhost:5258/order">Заказы</a></button>
        <button><a href="http://localhost:5258/courier">Kурьер</a></button>
    </div>
</header>
<div class="history">История заказов</div>



<div class="bottom">
    <div class="form">
        <h3>Регистрация / Вход</h3>
        <input type="text" placeholder="ФИО">
        <input type="email" placeholder="e-mail">
        <input type="text" placeholder="номер телефона">
        <button>Регистрация</button>
        <div class="contact">
            ФудМод@gmail.com<br>
            +7(905)017-49-38
        </div>
    </div>
    <div class="map">
        <h3>Выберите ваше местоположение</h3>
        <img src="" alt="Карта">
    </div>
</div>


@code {

}}